flask
fastapi
uvicorn
torch
pillow
opencv-python-headless
python-multipart[optional]
numpy
ultralytics


//py app.py

mkdir webproject
cd webproject
python -m venv venv
.\venv\Scripts\activate

